<p id="notice"><%= notice %></p>

<p>
  <strong>Alias:</strong>
  <%= @link.alias %>
</p>

<p>
  <strong>Target url:</strong>
  <%= @link.target_url %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
