<p id="notice"><%= notice %></p>

<p>
  <strong>Alias:</strong>
  <%= link_to @link.alias, @link.full_short_url %>
</p>

<p>
  <strong>Target url:</strong>
  <%= link_to @link.target_url, @link.target_url, target: "_blank" %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
