<!DOCTYPE html>
<html>
  <head>
    <title>ryag.me</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
    <header>
      <h1>ryag.me</h1>
      <nav>
        <ul>
          <li><a href="/links">Links</a></li><li><a href="/views">Views</a></li>
        </ul>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
